schema/das-basic-stream-v3.0.xsd

<?xml version="1.0"?>
<!-- 
	This is a multi-root, no-namespace schema definition.  It will validate any
  one of the top-level das 3.0 stream root elements, <stream>, <dataset>,
  <comment> or <exception> so long as an 'xmlns' attribute is not included.  
  Of course to be well-formed only *one* of the elements above may form a
  header packet.

  See the file das2-basic-stream-ns-v3.0.xsd for a multi-root schema 
  definition for files using a declared namespace

  See the file das2-basic-doc-v3.0.xsd for a single-root schema definition
  suitable for validating standard (i.e. non-packitized) documents.

  version 3.0, 2026-07-22.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="3.0"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified"
 >
<!-- targetNamespace="das-basic-stream" xmlns="das-basic-stream" -->


<!-- General Fields -->

<!-- The names for things that could be variables in most languages -->
<xs:simpleType name="VarName">
  <xs:restriction base="xs:string">
    <xs:pattern value="[a-zA-Z][a-zA-Z0-9_]*"/>
    <xs:maxLength value="63"/> <!-- leave rooom for null char -->
  </xs:restriction>
</xs:simpleType>

<!-- The names for things that could be variables or struct + member 
     names in most languages -->
<xs:simpleType name="StructName">
  <xs:restriction base="xs:string">
    <xs:pattern value="[a-zA-Z][a-zA-Z0-9_\.\-,:]*"/>
    <xs:maxLength value="63"/> <!-- leave rooom for null char -->
  </xs:restriction>
</xs:simpleType>

<!-- Parameter dimension names, typically physical dimensions. Absense of a
     physical dimension can be indicated by an explicit empty string  -->
<xs:simpleType name="PhysDimName">
  <xs:restriction base="xs:string">
    <xs:pattern value="[*]{0}|[a-zA-Z][a-zA-Z0-9_\.]*"/>
    <xs:maxLength value="63"/> <!-- leave rooom for null char -->
  </xs:restriction>
</xs:simpleType>

<!-- Properties ========================================================== -->

<!-- Alt prop by language -->
<xs:simpleType name="ISO639_1">
  <xs:restriction base="xs:string">
    <xs:pattern value="[a-zA-Z][a-zA-Z0-9_\-]+"/>
    <xs:maxLength value="8"/> <!-- leave rooom for null char -->
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="AltProp">
  <xs:simpleContent>
    <xs:extension base="xs:string" >
      <xs:attribute name="lang" type="ISO639_1" use="required" />
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<!-- The data types for properties. Same as "Semantic" but with ranges -->
<xs:simpleType name="PropType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="bool" />
    <xs:enumeration value="boolArray" />
    <xs:enumeration value="datetime" />
    <xs:enumeration value="datetimeRange" />
    <xs:enumeration value="datetimeArray" />
    <xs:enumeration value="integer" />
    <xs:enumeration value="integerRange" />
    <xs:enumeration value="integerArray" />
    <xs:enumeration value="real" />
    <xs:enumeration value="realRange" />
    <xs:enumeration value="realArray" />
    <xs:enumeration value="string" />
    <xs:enumeration value="stringArray" />
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Bool">
  <xs:restriction base="xs:string">
    <xs:pattern value="[tTfF01]|true|false" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Terminator" >
  <xs:restriction base="xs:string" >
    <!-- One value terminator: a single printable byte, or one escape \n \t \r \0.
         Allowed is printable ASCII minus the bytes we need elsewhere:
         ( ) [ ] { } control bytes (\n etc.) are escaped
         expands \n \t \r \0 to their control bytes. -->
    <xs:pattern value="([ -~-[()&lt;&gt;\[\]{}\\&amp;&quot;]]|\\[ntr0])" />
  </xs:restriction>
</xs:simpleType>

<!-- Single property -->
<xs:complexType name="Property" mixed="true">
   <xs:sequence>
     <xs:element name="alt" type="AltProp" minOccurs="0" maxOccurs="unbounded" />
   </xs:sequence>
   <xs:attribute name="name"  type="StructName" use="required" />
   <xs:attribute name="type"  type="PropType" default="string" />
   <xs:attribute name="units" type="xs:token" />
   <!-- term ends each item of a stringArray-typed property value.  No default: an
        absent term selects the reader's whitespace split (a single-char XSD default
        can't express the 1-N whitespace rule); consistent with <packet>/<values>
        valTerm.  (The value is tag-bounded, so the last item's terminator may be
        omitted; the reader counts it either way.) -->
   <xs:attribute name="term"  type="Terminator" />
</xs:complexType>

<!-- Properties grouping -->
<xs:complexType name="Properties">
  <xs:sequence>
    <xs:element name="p" type="Property" minOccurs="0" maxOccurs="unbounded"/>
  </xs:sequence>
</xs:complexType>

<!-- Coordinate Frames =================================================== -->

<!-- These are independent of any particular values and often assign directionality
     only.  Frame components have no units.  These are not to be confused with
     the "axis" values from <coord>.  The attribute "axis" is a graphical display
     directive and refers to a display axis, not a physical axis.  

     The two can be made to coincide by using the optional "frame" and "component"
     attributes of <coord>
-->

<xs:complexType name="Frame" >
  <xs:sequence>
    <xs:element name="properties" type="Properties" minOccurs="0" maxOccurs="1"/>
  </xs:sequence>
  <xs:attribute name="name" type="StructName" use="required"/>
  <xs:attribute name="fixed" type="Bool"/>
  <xs:attribute name="body" type="xs:string" />
</xs:complexType>

<!-- Extensions ========================================================== -->

<!-- Extension tags can hold anything except for elements defined in this
  namespace.  They can also have any attributes.  Client stream processors
  should pass stream-level extension elements unchanged dataset level 
  extension element handling is undefined 
-->
<xs:complexType name="Extension" mixed="true">
  <xs:sequence>
    <xs:choice>
      <!-- Can extend with other elements here, but they can't have a namespace -->
      <xs:any namespace="##local" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
    </xs:choice>
  </xs:sequence>

  <xs:attribute name="scheme" type="xs:string" use="required"/>
  <xs:attribute name="content" type="xs:string" use="required"/>

  <!-- Can extend with other attributes, will be skipped by schema -->
  <xs:anyAttribute processContents="skip" />
</xs:complexType>


<!-- Datasets ============================================================ -->

<!-- Each dataset header defines a das dataset and how it appears in the data
     stream.  The object containment hirearchy is depected in the middle of
     the reference poster, 
     
        https://das2.org/das2_AGU2019.pdf 
         
     and summarized below:
     
       Stream
         |
         |- Dataset 1
         |- Dataset 2
         |- Dataset 3
         |- .....
       
       Dataset  <dataset>
         |
         |- Physical Dimension <physDim>
             |
             |- Variable        <scalar> <vector>
                 |
                 |- Quantities   <values> <sequence> <i>
-->


<!-- The understood plot type strings -->
<xs:simpleType name="PlotType">
  <xs:restriction base="xs:string">
    <xs:pattern
      value="(cartesian2d|cartesian3d|polar|cylindrical|spherical)(:movie)?"
    />
  </xs:restriction>
</xs:simpleType>

<!-- This has to be multi-valued because breaking natural vector coordinates
     into individual scalars makes parsing and plotting code more convoluted.
     See description of each plot axis name in "Dataset" type definition below.
-->
<xs:simpleType name="PlotDirection">
  <xs:restriction base="xs:string">
    <xs:pattern value="[xyzρrθφt-](;[xyzρrθφat-])*" />
    <!-- -: this vector component maps to no axis (matches the index= "unused" marker) -->
    <!-- ρ: radius cylindrical -->
    <!-- r: radius spherical & polar -->
    <!-- θ: polar angle -->
    <!-- φ: azimuthal angle in x-y plane -->
    <!-- t: for movies, not time on a space axis -->
  </xs:restriction>
</xs:simpleType>

<!-- The Index space definition for this dataset.

  Just as the plot type can define the graphical space for a dataset,
  this defines the value lookup space.

  How to read the Dataset Index Space definition:

  1. There are always as many positions in the index space definition as
     the dataset rank.  Aka rank 2, ==> "max_index1 ; max_index2"

  2. Each full location in index space denotes how to lookup a single 
     item.

  3. The special size "*" means "fills the container", this is typically
     used with the first index.  It means the size of the full dataset in
     the first index is just equal to the number of records you happen to
     get.  If "*" appears in subsequent indexes, it means you have variable
     length packets.
-->
<xs:simpleType name="DsIndexShape">
  <xs:restriction base="xs:string">
    <xs:pattern
      value="(\*|[1-9][0-9]*)(;(\*|[1-9][0-9]*))*"
    />
  </xs:restriction>
</xs:simpleType>

<!-- The shape of a Variable in index space

  How to read the index shape:

  1. There are always as many elements as the dataset rank

  2. This is the size in items.  Note that an item can have it's own
     internal size.  For example vectors have more then one component
     strings can have multiple characters, etc.

  3. The special size "*" means "fills the container", be it the 
     end of the stream, or the end of a packet.

  4. The special size "-" means this index is meaningless to this variable.
     The variable is just not a function of that index so any value is okay.
     (Note that "-" never appears in the dataset global space)

-->
<xs:simpleType name="VarIndexShape">
  <xs:restriction base="xs:string">
    <xs:pattern
      value="(-|\*|[1-9][0-9]*)(;(-|\*|[1-9][0-9]*))*"
    />
  </xs:restriction>
</xs:simpleType>


<xs:simpleType name="Star" final="restriction">
  <xs:restriction base="xs:string">
    <xs:enumeration value="*" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="NonZeroStar">
  <xs:union memberTypes="Star xs:positiveInteger" />
</xs:simpleType>


<!-- The understanding of what kind of value this is, is it a countable (int), 
     a state (bool), a floating point number (real), a calendar date (datetime),
     or just some information (string) -->
<xs:simpleType name="Semantic">
  <xs:restriction base="xs:string">
      <xs:pattern value="bool|datetime|integer|real|string|blob" />
   </xs:restriction>
</xs:simpleType>

<!-- What kind of arrays and values in memory should be used for this item
     Since some languages don't support unsigned types and can use the next
     larger signed type
-->
<xs:simpleType name="Storage">
  <xs:restriction base="xs:string">
    <xs:pattern value="byte|ubyte|short|ushort|int|uint|long|ulong|float|double|string|struct" />
  </xs:restriction>
</xs:simpleType>

<!-- How a value is encoded on the wire.  Three parsing categories, by how a slice
     self-terminates:
       INTRINSIC (byte..LEreal): fixed width, size known a priori.
       TEXT (utf8): a terminator (valTerm), or fixed width.
       BLOB (blob, base64): a {len} byte-length tag when itemBytes="*", else fixed
         width.  blob = raw bytes; base64 = the same bytes ASCII-armored (RFC 4648)
         so a blob survives das3_text.  Both store to vtByteSeq or vtText by semantic.
     (none: the former spelling of blob, now removed.) -->
<xs:simpleType name="EncodingType">
  <xs:restriction base="xs:string">
    <xs:pattern
      value="byte|ubyte|BEint|BEuint|BEreal|LEint|LEuint|LEreal|utf8|blob|base64" />
   </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ValuesContent">
  <!-- The regex for scientific notation is looooong, just make sure
       illegal characters are not present -->       
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-9\+\-;\.eE\s]*" />
    <xs:whiteSpace value="collapse" />
  </xs:restriction>
</xs:simpleType>

<!-- Terminators for utf8 variable-length data ===========================

  valTerm ends each variable-length VALUE.  idxTerm gives one terminator per ragged
  index that inside a packet. 

  The levels nest: valTerm is tightest, then each idxTerm level from inner-most out.
  valTerm and every idxTerm level must be DISTINCT bytes.

  Terminators are ordinary utf8 bytes, NOT data values reused as boundaries.  Escapes
  \n \t \r \0 are written literally. The tough part is to pick terminators that can't
  appear in data values. 

  These apply to text (encoding="utf8") only. A <packet> carrying valTerm/idxTerm
  with encoding != "utf8" is a bad header.
-->
<xs:simpleType name="TermList" >
  <!-- One terminator per ragged index, outer-most first, comma-separated.  Each level
       is a single Terminator that also excludes the comma (the list separator); pipe
       and everything else Terminator allows are fine as a level. -->
  <xs:restriction base="xs:string" >
    <xs:pattern value="([ -~-[(),&lt;&gt;\[\]{}\\&amp;&quot;]]|\\[ntr0])(,([ -~-[(),&lt;&gt;\[\]{}\\&amp;&quot;]]|\\[ntr0]))*" />
  </xs:restriction>
</xs:simpleType>

<!-- An array variable in the header -->
<xs:complexType name="Values">
  <xs:simpleContent>
     <xs:extension base="ValuesContent" >

      <!-- valTerm separates individual values.  Theres no default here but
        parsers sould use any number whitespace characters to separate to
        values.  Null values are indicated by delimiters with no intervening
        values, to get this functionality (which is almost never needed)
        set valTerm to some non-whitespace character.

        There is no idxTerm here: a values block's extents are fixed and fully
        declared by index= (a ragged index cannot map to header values), so
        multi-index content lines up by count alone. -->
      <xs:attribute name="valTerm" type="Terminator" />
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<!-- A single signed real, optionally in scientific notation, e.g. -1.3705e+01.
     Used where das emits a %g-formatted number rather than a strict xs:double. -->
<xs:simpleType name="Real">
  <xs:restriction base="xs:string">
    <xs:pattern value="[+-]?([0-9]+(\.[0-9]*)?|\.[0-9]+)([eE][+-]?[0-9]+)?" />
  </xs:restriction>
</xs:simpleType>

<!-- RealList: a ';'-separated list of reals.  Kept as a pure-number list for
     general use; the <sequence> interval uses SlopeList (below). -->
<xs:simpleType name="RealList">
  <xs:restriction base="xs:string">
    <xs:pattern value="[+-]?([0-9]+(\.[0-9]*)?|\.[0-9]+)([eE][+-]?[0-9]+)?(;[+-]?([0-9]+(\.[0-9]*)?|\.[0-9]+)([eE][+-]?[0-9]+)?)*" />
  </xs:restriction>
</xs:simpleType>

<!-- SlopeList: a <sequence> interval, ';'-separated and positionally locked to the
     variable's `index` (full-rank, one slot per DATASET index).  A slope sits at
     each dependent index and a '-' marks each degenerate one; e.g. index="-;16;128"
     pairs with interval="-;16;0.125".  A compact form (one slope per dependent index,
     no '-') is also accepted on input during the transition to full-rank. -->
<xs:simpleType name="SlopeList">
  <xs:restriction base="xs:string">
    <xs:pattern value="(-|[+-]?([0-9]+(\.[0-9]*)?|\.[0-9]+)([eE][+-]?[0-9]+)?)(;(-|[+-]?([0-9]+(\.[0-9]*)?|\.[0-9]+)([eE][+-]?[0-9]+)?))*" />
  </xs:restriction>
</xs:simpleType>

<!-- An ISO 8601 datetime as das parsetime reads it.  Kept deliberately loose:
     parsetime accepts a wide set of forms and, per ISO 8601, missing lower-order
     fields default to their minimum value.  Both calendar (yyyy-mm-dd) and
     day-of-year (yyyy-ddd) forms are allowed; the time part is optional. -->
<xs:simpleType name="Datetime">
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-9]{1,4}(-[0-9]{1,3}){0,2}([ T][0-9]{1,2}(:[0-9]{1,2}){0,2}(\.[0-9]+)?)?Z?" />
  </xs:restriction>
</xs:simpleType>

<!-- Sequence intercept (minval): a SINGLE origin value.  A vector sequence uses one
     <sequence> PER COMPONENT (see VectorVar), each supplying its own scalar minval
     plus a per-dependent-index interval list - e.g. two <sequence> elements,
     minval="-128" interval="1;0" and minval="-140" interval="0;1", for a 2-component
     vector (each component's axis dependence is explicit in its interval zeros).  A
     scalar variable is the one-component case: a single <sequence>.  A datetime
     intercept is allowed for an absolute-time (vtTime) sequence, whose slopes are
     seconds. -->
<xs:simpleType name="SeqIntercept">
  <xs:union memberTypes="Real Datetime" />
</xs:simpleType>

<xs:complexType name="Sequence">
  <xs:attribute name="minval"   type="SeqIntercept" use="required"/>
  <xs:attribute name="interval" type="SlopeList" use="required"/>
</xs:complexType>

<xs:complexType name="Packet">
  <!-- numItems: the count of items ON THE WIRE to extract from this packet.  For a
       block encoding that decodes to a larger structure (a mime-typed blob, e.g.
       image/png), this need NOT equal the product of the parent index= shape - the
       item expands to fill it only after decoding.  Whether that decoder is present
       is mime-dependent; absent it, the item is carried opaque (vtByteSeq). -->
  <xs:attribute name="numItems"  type="NonZeroStar" use="required" />
  <xs:attribute name="itemBytes" type="NonZeroStar" use="required" />
  <xs:attribute name="encoding"  type="EncodingType" use="required" />
  <!-- mime: the secondary encoding inside a blob/base64 value, MIME-valued
       (image/png, application/gzip, application/octet-stream).  Annotation only in
       v3.0 (carried, not decoded); it is the v3.1 decode seam. -->
  <xs:attribute name="mime"      type="xs:token" />
  <xs:attribute name="fill"      type="xs:string" />
  <!-- valTerm ends each variable-length utf8 VALUE (with itemBytes="*"); idxTerm gives
       one terminator per in-packet ragged index, ending each item run (with numItems="*").
       utf8 ONLY: binary output uses index-length (run) tags -->
  <xs:attribute name="valTerm" type="Terminator" />
  <xs:attribute name="idxTerm" type="TermList" />
  <!-- trim (default true) ltrim+rtrim's each variable-width utf8 value, stripping
       cosmetic pad while keeping internal spaces.  Set false to preserve surrounding
       whitespace as data. -->
  <xs:attribute name="trim" type="xs:boolean" default="true" />
</xs:complexType>

<!-- The purposes for values of a variable -->

<xs:simpleType name="VarRole">
  <xs:restriction base="xs:string">
    <xs:enumeration value="center" />
    <xs:enumeration value="offset" />
    <xs:enumeration value="average" />
    <xs:enumeration value="count" />
    <xs:enumeration value="min" />
    <xs:enumeration value="reference" />  <!-- AKA the min -->
    <xs:enumeration value="max" />
    <xs:enumeration value="width" />
    <xs:enumeration value="std_dev" />
    <xs:enumeration value="min_error" />
    <xs:enumeration value="max_error" />
    <xs:enumeration value="norm" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="ScalarVar" >
  <xs:sequence>
    <xs:element name="properties" type="Properties" minOccurs="0"/>
    <xs:choice>
      <xs:element name="values" type="Values" />
      <xs:element name="sequence" type="Sequence" />
      <xs:element name="packet" type="Packet" />
    </xs:choice>
  </xs:sequence>
  <xs:attribute name="use"      type="VarRole" default="center" />
  <xs:attribute name="units"    type="xs:token" use="required" />
  <xs:attribute name="storage"  type="Storage" />
  <xs:attribute name="semantic" type="Semantic" use="required" />
  <xs:attribute name="index"    type="VarIndexShape" use="required" />

</xs:complexType>

<!-- Vectors, Inherit from scalars and add elements ======== -->

<xs:simpleType  name="NumComps">
  <xs:restriction base="xs:nonNegativeInteger">
    <xs:minInclusive value="1"/>
    <xs:maxInclusive value="3"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType  name="ComponentList">
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-2](;[0-2]){0,2}" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="ComponentSystem">
  <xs:restriction base="xs:string">
    <xs:enumeration value="cartesian" />
    <xs:enumeration value="cylindrical" />  <!-- polar is the 2-D case of this -->
    <xs:enumeration value="spherical" />
    <xs:enumeration value="centric" />
    <xs:enumeration value="detic" />
    <xs:enumeration value="graphic" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="VectorVar" >
  <xs:sequence>
    <xs:element name="properties" type="Properties" minOccurs="0"/>
    <xs:choice>
      <xs:element name="values" type="Values" />
      <!-- One <sequence> PER COMPONENT (1 to 3): a vector sequence generates each
           component from its own scalar minval + per-dependent-index interval, in
           component order (the same slots sysorder maps to frame directions).  A
           scalar var is the 1-component case = a single <sequence>.  XSD caps the
           count at the maximum component count (3) but CANNOT check that the actual
           <sequence> count equals this vector's components= value; das_verify must
           enforce that match. -->
      <xs:element name="sequence" type="Sequence" maxOccurs="3" />
      <xs:element name="packet" type="Packet" />
    </xs:choice>
  </xs:sequence>
  <xs:attribute name="use"      type="VarRole" default="center" />
  <xs:attribute name="units"    type="xs:token" use="required" />
  <xs:attribute name="semantic" type="Semantic" use="required" />
  <xs:attribute name="storage"  type="Storage" />
  <xs:attribute name="index"    type="VarIndexShape" use="required" />
  <xs:attribute name="components" type="NumComps"    use="required" />
  <xs:attribute name="system"   type="ComponentSystem" default="cartesian"/>
  <xs:attribute name="sysorder" type="ComponentList"/>
  <xs:attribute name="surface"    type="xs:string" /> <!-- 0 = SPICE default for frame body -->
  <!-- frame: the vector's own reference frame.  Overrides the dim-level frame= when
       a dimension holds vectors in different frames (e.g. a reference vector in a
       geodetic frame + an offset vector in a local NEC frame).  Cascades: absent, the
       vector inherits the parent dimension's frame. -->
  <xs:attribute name="frame"    type="StructName" />
</xs:complexType>

<!-- Physical Dimensions ================================================= -->

<xs:complexType name="CoordDim">
  <xs:sequence>
    <xs:element name="properties" type="Properties" minOccurs="0"/>

    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="scalar" type="ScalarVar" />
      <xs:element name="vector" type="VectorVar" />
    </xs:choice>

  </xs:sequence>
  <xs:attribute name="physDim"  type="PhysDimName"   use="required"/>

  <!-- Coordinate dims should have names, and if there is more the one for the same
       physical dimension (say space in two different coordinate systems) then names
       are a must -->
  <xs:attribute name="name"     type="StructName" />

  <!-- The use of axes is required for primary coordinates -->
  <xs:attribute name="axis"     type="PlotDirection"/>

  <!-- axis= letters map dataset indices to the canonical component DIRECTIONS of a
       frame (e.g. axis="y;x;-").  Those letters are interpreted in this coord's own
       frame= (above); component representation follows each vector's system=. -->

  <!-- The use of annotation is recommened for secondard coordinates -->
  <xs:attribute name="annotation" type="PlotDirection"/>  

  <xs:attribute name="frame"    type="StructName"   />
  <!-- No need to provide for single component coordinates, if they are
       vectors, put them together as a vector so that they can be transform
       as a vector, using systems like SPICE -->
  <!-- <xs:attribute name="dir" type="VarName"  /> -->
</xs:complexType>

<xs:complexType name="DataDim">
  <xs:sequence>
    <xs:element name="properties" type="Properties" minOccurs="0"/>
    <xs:choice minOccurs="1" maxOccurs="unbounded">      
      <xs:element name="scalar" type="ScalarVar" />
      <xs:element name="vector" type="VectorVar" />
    </xs:choice>
  </xs:sequence>

  <xs:attribute name="physDim" type="PhysDimName" use="required"/>
  <!-- 
  Data items must have unique names, however the name inherits from the overall
  dataset name.  So if you only have one <data> or <extData> element, the name
  isn't needed
  -->
  <xs:attribute name="name"  type="StructName" />
  <xs:attribute name="frame" type="StructName" />
</xs:complexType>

<!-- Extended data objects in an extended data section -->
<xs:complexType name="DataObject">
  <xs:sequence>
    <xs:element name="packet" type="Packet" minOccurs="1" maxOccurs="unbounded" />
  </xs:sequence>

  <xs:attribute name="scheme"  type="xs:string" use="required" />
  <xs:attribute name="objType" type="xs:string" use="required" />
  <xs:attribute name="index"   type="VarIndexShape" use="required" />
  <xs:attribute name="content" type="xs:string" />

</xs:complexType>

<xs:complexType name="ExtendedData">
  <xs:sequence>
    <xs:element name="properties" type="Properties" minOccurs="0"/>
    <xs:element name="object" type="DataObject" minOccurs="1" maxOccurs="unbounded" />
  </xs:sequence>

  <!-- 
  Extended data items must have unique names, however the name inherits 
  from the overall dataset name.  So if you only have one <data> or 
  <extData> element, the name isn't needed
  -->
  <xs:attribute name="name" type="StructName"/>
</xs:complexType>


<xs:simpleType name="DatasetRank">
  <xs:restriction base="xs:positiveInteger">
    <xs:minInclusive value="1" />
    <!-- High ranks are rarely needed, support as many independent indicies as the PDS -->
    <xs:maxInclusive value="8" />
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="DatasetName">
  <xs:restriction base="xs:string">
    <xs:pattern value="[a-zA-Z][a-zA-Z0-9_\.]*"/>
    <xs:maxLength value="63"/> <!-- leave rooom for null char -->
   </xs:restriction>
</xs:simpleType>

<xs:complexType name="Dataset">
  <xs:sequence>
    <xs:element name="properties" type="Properties" minOccurs="0" />
    <xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded" />

    <!-- Axis patterns to check via schematron once implemented:       -->
    <!--                                                               -->
    <!--    axis="x" used for Cartesion x, xy or xyz                   -->
    <!--    axis="y" used for Cartesion xy or xyz                      -->
    <!--    axis="ρ" used for Cylindrical ρφz                          -->             
    <!--    axis="r" used for Polar rφ or Spherical rθφ                -->
    <!--    axis="θ" used for Spherical rθφ                            -->
    <!--    axis="φ" used for Cylindrical ρφz or Spherical or rθφ      --> 
    <!--    axis="z" used for Cartesian xyz or Cylindrical xyz or ρφz  -->
    <!--    axis="t" can be added to any to recommend a movie          -->
    
    <xs:element name="coord" type="CoordDim" minOccurs="1" maxOccurs="unbounded" />

    <!-- 
    To see if a set of data vary in less then the number of coordinate dimensions
    one needs to:
    
      1. Get the shape in index space of each coordinate physical-dimension
      2. Get the shape in index space of each data physical-dimension
      3. See if the intersection of the data index space and each coordinate index
         space is non-zero.

    This is a complex concept that needs explicit examples but it's the only way 
    I found to stream data that should be painted on the X-Y plane, with data that
    should be painted on the X-Z plane, with data that should be painted on the 
    Y-Z plane along with volumetric data in the middle.  I tried to make it simpler
    but could not think of a way to do so without repeating the limitations of the
    CDF ISTP metadata model. -cwp 2020-07-17
    -->
    
    <xs:element name="data"    type="DataDim"      minOccurs="0" maxOccurs="unbounded" />
    <xs:element name="extData" type="ExtendedData" minOccurs="0" maxOccurs="unbounded" />

  </xs:sequence>

  <xs:attribute name="rank"  type="DatasetRank" use="required" />
  <xs:attribute name="name"  type="DatasetName" use="required"/>
  <xs:attribute name="index" type="DsIndexShape" use="required" />
  <xs:attribute name="plot"  type="PlotType" />

</xs:complexType>


<!-- Since patch levels don't affect API's we don't include the patch 
     level version number here -->
<xs:simpleType name="StreamVersion">
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-9]{1,3}\.[0-9]{1,3}" />
  </xs:restriction>  
</xs:simpleType>

<xs:simpleType name="StreamType">
  <xs:restriction base="xs:string">
    <xs:enumeration value="das-basic-stream" />
  </xs:restriction>
</xs:simpleType>

<xs:complexType name="Stream">
  <xs:sequence>
    <xs:element name="properties" type="Properties" minOccurs="0"/>
    <xs:element name="frame" type="Frame" minOccurs="0" maxOccurs="unbounded"/>
    <xs:element name="extension" type="Extension" minOccurs="0" maxOccurs="unbounded" />
  </xs:sequence>
  <xs:attribute name="type" type="StreamType" use="required" />
  <xs:attribute name="version" type="StreamVersion" use="required" />
  <xs:attribute name="lang" type="ISO639_1" default="en"/>
</xs:complexType>

<!-- Exceptions =========================================================== -->

<xs:complexType name="Exception">
  <xs:simpleContent>
    <xs:extension base="xs:string" >
      <xs:attribute name="type" type="xs:token" use="required"/>
      
      <!-- Can extend with other attributes, will be skipped by schema -->
      <xs:anyAttribute processContents="skip" />
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<!-- Comments ============================================================= -->

<xs:complexType name="Comment">
  <xs:simpleContent>
    <xs:extension base="xs:string" >
      <xs:attribute name="type" type="xs:token" use="required"/>
      <xs:attribute name="source" type="xs:normalizedString"/>
     
      <!-- Can extend with other attributes, will be skipped by schema -->
      <xs:anyAttribute processContents="skip" />
    </xs:extension>
  </xs:simpleContent>
</xs:complexType>

<!-- Top-level Elements we will validate ================================= -->

<xs:element name="stream"    type="Stream" />
<xs:element name="extension" type="Extension" />
<xs:element name="dataset"   type="Dataset" />
<xs:element name="exception" type="Exception" />
<xs:element name="comment"   type="Comment" />

</xs:schema>
